<div class="container">

  <div *ngIf="show">
    <div class="row">
      <div class="col-sm-12">
        <div class="card mt-5 mb-5">
          <div class="card-header"> 
            {{ show.original_name }}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-5">
                <img src="https://image.tmdb.org/t/p/w500/{{ show.poster_path }}" class="img-fluid" alt="{{ show.title }}">
              </div>
              <div class="col-sm-7">
                <ul class="list-group">
                  <li class="list-group-item">
                    <strong>Release Date: </strong> {{ show.first_air_date | date:'dd-MM-yyyy' }}
                  </li>
                 
                  <li class="list-group-item">
                    <strong>Summary: </strong> {{ show.overview }}
                  </li>
                  <li class="list-group-item">
                    <strong>Runtime: </strong> {{ show.number_of_episodes }}  episodes
                  </li>
                  
                  <li class="list-group-item">
                    <strong>Genre: </strong>
                    <span *ngFor="let genre of show.genres" class="badge badge-primary mr-2">
                      {{ genre.name }}
                    </span>
                  </li>


                  <li class="list-group-item">
                      <strong>Videos and Trailers: </strong>
                      <div *ngFor="let result of show.videos.results;">
                          <a href="https://www.youtube.com/watch?v={{result.key}}">Link</a>
                        
                      </div>
                    </li>

                  <li class="list-group-item">
                    <a href="{{ show.homepage }}" class="btn btn-danger" target="_blank">
                      TV Show Homepage
                    </a>
                    <a href="https://www.imdb.com/title/{{ show.imdb_id }}" target="_blank" class="btn btn-danger">
                      IMDB Link
                    </a>
                    
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- /.card -->
      </div>
    </div>
  </div>

</div>